/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #3eaf7c // кнопки
$textColor = #2c3e50  // текст весь
$borderColor = #eaecef // цвет линий и рамок
$codeBgColor = #282c34  // ?
