/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #1352e2 // кнопки 3eaf7c
$textColor = #272727  // текст весь 2c3e50
$borderColor = #eaecef // цвет линий и рамок
$codeBgColor = #282c34  // ?
